:root {
  --primary-title-color: #ffffff;
  --secondary-title-color: #212121;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --heaader-text-color: #757575;
  --accent-color: #2196f3;
  --background-color: #2f303a;
  --background-color-secondary: #f5f4fa;
}
body {
  font-family: 'Roboto', sans-serif;
}
.logo-pri {
  font-family: 'Raleway',sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  color: var(--accent-color);
}
.logo-sec {
  color: var(--secondary-title-color);
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.current {
  color: var(--accent-color);
}
.header-mail-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--heaader-text-color);
}
.header-mail-link:focus,
.header-mail-link:hover {
  color: var(--accent-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.hero {
   background: var(--background-color);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--primary-title-color);
  text-align: center;
  letter-spacing: 0.06em;
}

.btn {
  width: 200px;
  color: var(--primary-title-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  font-weight: 900;
  font-size: 16px;
  line-height: 1.87;
}
.btn:hover {
  color: var(--accent-color);
  background-color: var(--primary-title-color);
  cursor: pointer;
}

.pecul-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.42;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-title-color);
  letter-spacing: 0.03em;
}
.pecul-item-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  letter-spacing: 0.03em;
}
.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}
.team-list-item-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}
.team {
  background-color: var(--background-color-secondary);
}
.team-list-item-prof {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.contacts {
  padding: 60px 0;
  background-color: var(--background-color);
}
.address {
  font-style: normal;
  color: var(--primary-title-color);
}
.images-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-title-color);
}
.images-item-about {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
.filter-item:hover,
.filter-item:focus {
  color: var(--primary-title-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.filter-item {
  width: 128px;
  height: 38px;
  left: 576px;
  top: 174px;
  border: 0;
  background: var(--background-color-secondary);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
}